'''
Q.1 - Create a dataframe with your name , age , mail id and phone number and add your friends’s information to the same.
'''

In [1]:
import pandas as pd
import numpy as np

In [9]:
data = [('Rajat','21','rajat71011@gmail.com','977944')]
df = pd.DataFrame(data,columns=['Name','Age','Email Id','Phone no'])
print(df)

    Name Age              Email Id Phone no
0  Rajat  21  rajat71011@gmail.com   977944

In [12]:
df.append(pd.Series(['Rishabh','22','rishabh9988@gmail.com','6280'],index=df.columns),ignore_index=True)

      Name Age               Email Id Phone no
0    Rajat  21   rajat71011@gmail.com   977944
1  Rishabh  22  rishabh9988@gmail.com     6280

'''
Q.2 - Download the dataset from this link , 
Click Here
Import the data and print the following :
a.) First 5 rows of Dataframe 
b.) First 10 rows of the Dataframe 
c.) find basic statistics on the particular dataset. 
d.) Find the last 5 rows of the dataframe 
e.) Extract the 2nd column and find basic statistics on it.
'''

In [19]:
path_to_file="C:/Users/Dell/Desktop/New folder/weather.csv"
ab = pd.read_csv(path_to_file,encoding='latin1')

In [20]:
#a.) First 5 rows of Dataframe 
ab.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11/1/2007,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,11/2/2007,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,11/3/2007,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,11/4/2007,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,11/5/2007,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [21]:
#b.) First 10 rows of the Dataframe 
ab.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11/1/2007,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,11/2/2007,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,11/3/2007,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,11/4/2007,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,11/5/2007,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
5,11/6/2007,Canberra,6.2,16.9,0.0,5.8,8.2,SE,44.0,SE,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No
6,11/7/2007,Canberra,6.1,18.2,0.2,4.2,8.4,SE,43.0,SE,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No
7,11/8/2007,Canberra,8.3,17.0,0.0,5.6,4.6,E,41.0,SE,...,57,1026.2,1024.2,6,7,12.1,15.5,No,0.0,No
8,11/9/2007,Canberra,8.8,19.5,0.0,4.0,4.1,S,48.0,E,...,48,1026.1,1022.7,7,7,14.1,18.9,No,16.2,Yes
9,11/10/2007,Canberra,8.4,22.8,16.2,5.4,7.7,E,31.0,S,...,32,1024.1,1020.7,7,1,13.3,21.7,Yes,0.0,No

# STATISTICS#

In [22]:
#returns the sum of values for requested axis. by default axis = 0
print(ab.sum())

Date             11/1/200711/2/200711/3/200711/4/200711/5/20071...
Location         CanberraCanberraCanberraCanberraCanberraCanber...
MinTemp                                                     2659.2
MaxTemp                                                     7521.4
Rainfall                                                     522.8
Evaporation                                                   1655
Sunshine                                                    2871.1
WindGustSpeed                                                14502
WindSpeed9am                                                  3465
WindSpeed3pm                                                  6583
Humidity9am                                                  26365
Humidity3pm                                                  16294
Pressure9am                                                 373214
Pressure3pm                                                 372153
Cloud9am                                                      1424
Cloud3pm                                                      1473
Temp9am                                                     4523.2
Temp3pm                                                     7038.5
RainToday        NoYesYesYesYesNoNoNoNoYesNoNoNoNoNoNoNoYesNoNo...
RISK_MM                                                      522.8
RainTomorrow     YesYesYesYesNoNoNoNoYesNoNoNoNoNoNoNoYesNoNoNo...
dtype: object

In [23]:
# axis = 1 -> row wise sum

print(ab.sum(1))

0      2285.3
1      2310.2
2      2404.9
3      2362.8
4      2335.0
5      2335.5
6      2321.6
7      2324.5
8      2350.4
9      2306.3
10     2290.7
11     2292.2
12     2276.4
13     2305.4
14     2273.2
15     2301.5
16     2313.0
17     2298.9
18     2296.5
19     2291.4
20     2325.3
21     2344.6
22     2360.6
23     2309.9
24     2324.4
25     2327.5
26     2336.9
27     2308.5
28     2347.9
29     2323.8
        ...
336    2280.9
337    2363.1
338    2365.5
339    2311.7
340    2330.4
341    2304.3
342    2274.1
343    2249.5
344    2303.1
345    2287.0
346    2270.1
347    2359.1
348    2348.2
349    2281.2
350    2262.6
351    2318.0
352    2315.7
353    2317.7
354    2311.2
355    2271.4
356    2319.8
357    2279.6
358    2274.5
359    2257.0
360    2258.3
361    2326.7
362    2279.1
363    2303.7
364    2331.4
365    2334.3
Length: 366, dtype: float64

In [24]:
# mean()

print(ab.mean())

MinTemp             7.265574
MaxTemp            20.550273
Rainfall            1.428415
Evaporation         4.521858
Sunshine            7.909366
WindGustSpeed      39.840659
WindSpeed9am        9.651811
WindSpeed3pm       17.986339
Humidity9am        72.035519
Humidity3pm        44.519126
Pressure9am      1019.709016
Pressure3pm      1016.810383
Cloud9am            3.890710
Cloud3pm            4.024590
Temp9am            12.358470
Temp3pm            19.230874
RISK_MM             1.428415
dtype: float64

In [25]:
# std()

print(ab.std())

MinTemp           6.025800
MaxTemp           6.690516
Rainfall          4.225800
Evaporation       2.669383
Sunshine          3.481517
WindGustSpeed    13.059807
WindSpeed9am      7.951929
WindSpeed3pm      8.856997
Humidity9am      13.137058
Humidity3pm      16.850947
Pressure9am       6.686212
Pressure3pm       6.469422
Cloud9am          2.956131
Cloud3pm          2.666268
Temp9am           5.630832
Temp3pm           6.640346
RISK_MM           4.225800
dtype: float64

In [26]:
# describe() -> summarizing the data

print(ab.describe())

          MinTemp     MaxTemp    Rainfall  Evaporation    Sunshine  \
count  366.000000  366.000000  366.000000   366.000000  363.000000
mean     7.265574   20.550273    1.428415     4.521858    7.909366
std      6.025800    6.690516    4.225800     2.669383    3.481517
min     -5.300000    7.600000    0.000000     0.200000    0.000000
25%      2.300000   15.025000    0.000000     2.200000    5.950000
50%      7.450000   19.650000    0.000000     4.200000    8.600000
75%     12.500000   25.500000    0.200000     6.400000   10.500000
max     20.900000   35.800000   39.800000    13.800000   13.600000

       WindGustSpeed  WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  \
count     364.000000    359.000000    366.000000   366.000000   366.000000
mean       39.840659      9.651811     17.986339    72.035519    44.519126
std        13.059807      7.951929      8.856997    13.137058    16.850947
min        13.000000      0.000000      0.000000    36.000000    13.000000
25%        31.000000      6.000000     11.000000    64.000000    32.250000
50%        39.000000      7.000000     17.000000    72.000000    43.000000
75%        46.000000     13.000000     24.000000    81.000000    55.000000
max        98.000000     41.000000     52.000000    99.000000    96.000000

       Pressure9am  Pressure3pm    Cloud9am    Cloud3pm     Temp9am  \
count   366.000000   366.000000  366.000000  366.000000  366.000000
mean   1019.709016  1016.810383    3.890710    4.024590   12.358470
std       6.686212     6.469422    2.956131    2.666268    5.630832
min     996.500000   996.800000    0.000000    0.000000    0.100000
25%    1015.350000  1012.800000    1.000000    1.000000    7.625000
50%    1020.150000  1017.400000    3.500000    4.000000   12.550000
75%    1024.475000  1021.475000    7.000000    7.000000   17.000000
max    1035.700000  1033.200000    8.000000    8.000000   24.700000

          Temp3pm     RISK_MM
count  366.000000  366.000000
mean    19.230874    1.428415
std      6.640346    4.225800
min      5.100000    0.000000
25%     14.150000    0.000000
50%     18.550000    0.000000
75%     24.000000    0.200000
max     34.500000   39.800000

In [27]:
#d.) Find the last 5 rows of the dataframe
ab.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
361,10/27/2008,Canberra,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,10/28/2008,Canberra,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,10/29/2008,Canberra,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,10/30/2008,Canberra,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,10/31/2008,Canberra,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [28]:
#e.) Extract the 2nd column and find basic statistics on it.
ab['Location']

0      Canberra
1      Canberra
2      Canberra
3      Canberra
4      Canberra
5      Canberra
6      Canberra
7      Canberra
8      Canberra
9      Canberra
10     Canberra
11     Canberra
12     Canberra
13     Canberra
14     Canberra
15     Canberra
16     Canberra
17     Canberra
18     Canberra
19     Canberra
20     Canberra
21     Canberra
22     Canberra
23     Canberra
24     Canberra
25     Canberra
26     Canberra
27     Canberra
28     Canberra
29     Canberra
         ...
336    Canberra
337    Canberra
338    Canberra
339    Canberra
340    Canberra
341    Canberra
342    Canberra
343    Canberra
344    Canberra
345    Canberra
346    Canberra
347    Canberra
348    Canberra
349    Canberra
350    Canberra
351    Canberra
352    Canberra
353    Canberra
354    Canberra
355    Canberra
356    Canberra
357    Canberra
358    Canberra
359    Canberra
360    Canberra
361    Canberra
362    Canberra
363    Canberra
364    Canberra
365    Canberra
Name: Location, Length: 366, dtype: object

In [31]:
ab['Location'].describe()

count          366
unique           1
top       Canberra
freq           366
Name: Location, dtype: object